<%= render 'layouts/nav' %>

<div>
  <% @groups.each do |group| %>
    <%= link_to group_path(group) do %>
      <div class="dflex">
        <div class="dflex small-img">
          <img src="<%= group.icon %>" alt="icon">
        </div>
        <div>
          <%= group.name %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<%= link_to "Add new group", new_group_path %><br />