<%= render 'layouts/nav' %>

<div class="groups-cont dflex flexcol">
  <% @groups.each do |group| %>
    <%= link_to group_path(group), class: 'link-cont' do %>
      <div class="dflex">
        <div class="dflex small-img">
          <img src="<%= group.icon %>" alt="icon">
        </div>
        <div class="group-name">
          <%= group.name %>
        </div>
        <div class="group-total">
          $<%= @group_totals[group.id] %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<%= link_to new_group_path do %>
  <div class="bg-green add-group-cont dflex a-center j-center">
    <div class="link-to-new-group dflex a-center j-center">
      ADD NEW CATEGORY
    </div>
  </div>
<% end %>
