<%= form_with model: @group do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :icon %><br />
    <%= f.text_field :icon %>
  </div>

  <div class="actions">
    <%= f.submit "Create Group" %>
  </div>
<% end %>
