<%= render 'layouts/nav' %>

<%= form_with model: @founds_drainer, url: group_founds_drainers_path(@group) do |f| %>
  <div class="bg-white">
    <div class="field">
      <%= f.text_field :name, class: 'placeholder border-top-1', placeholder: "Name" %>
    </div>

    <div class="horizontal-line"></div>
  
    <div class="field">
      <%= f.number_field :amount, class: 'placeholder', placeholder: "Amount" %>
    </div>

    <div class="horizontal-line"></div>

    <div class="categories-cont dflex flexcol">
      <%= f.label :categories, "Select Categories", class: 'label2' %><br />
      <% current_user.groups.each do |category| %>
        <div class="dflex spacebetween">
          <%= check_box_tag 'founds_drainer[group_ids][]', category.id, false, id: "group_#{category.id}" %>
          <div class="label1"><%= category.name %></div>
        </div>
        <br />
      <% end %>
    </div>
    
  
    <div class="login-button-2">
      <%= f.submit "SAVE" %>
    </div>
  </div>
<% end %>
